.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10rem 0;
  gap: 2rem;
  @media (max-width: 1730px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 1300px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 880px) {
    grid-template-columns: 1fr;
  }
}
